<!-- Required meta tags -->
{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel=stylesheet href="{% static 'ProfileSettings/ProfileSettings.css' %}">

<title>Profile Settings Page</title>

<div class="container-fluid main" style="height:100vh;padding-left:0px;">
        
    <div class="d-block d-md-none menu">

        <div class="bar"></div>
    
    </div>
    
    <div class="row align-items-center" style="height:100%">

    <div class="col-md-9">
        
        <div class="container content clear-fix">
        
        <div class="row" style="height:100%">
            
            <div class="col-md-9">
                
                <div class="container">
                    
                    <form action="/submit_profile" method="post">

                        <h2 class="mt-5 mb-5">About You</h2>
                
                        <div href=# class="d-inline"><img src="{% static 'ProfileSettings/ProfilePic.png' %}" width=130px style="margin:0;"><br><p class="pl-2 mt-2"><a href="#" class="btn" style="color:#8f9096;font-weight:600">Edit Picture</a></p></div>

                        <div class="form-group">

                            <label for=fullName>Full Name</label>
                            <input type="text" name="name" value="{{name}}" class="form-control" id="fullName">

                        </div>
                        <div class="form-group">

                            <label for=email>Email</label>
                            <input type="text" name="email" value="{{email}}" class="form-control" id="email">

                        </div>
                        <div class="form-group">

                            <label for=pass>Password</label>
                            <input type="password" name="password" value="{{password}}" class="form-control" id="pass">

                        </div>
                        <div class="form-group ">

                            <label for=birthday>Birthday</label>
                            <input type="date" name="birthday" class="form-control" id="birthday">

                        </div>

                        
                        <div class="form-group">

                            <label for=postcode>Postcode</label>
                            <input type="text" name="postcode" class="form-control" id="postcode">

                        </div>

                        <div class="form-group">

                            <label for=distance>Max Travel Distance (km)</label>
                            <input type="text" name="travel_dist" class="form-control" id="distance">

                        </div>

                        <div class="form-group">

                            <label>Interests</label>

                            <label class="container">AFL
                                <input type="checkbox" value="AFL" name="interest" checked="checked">
                                <span class="checkmark"></span>
                              </label>
                              
                              <label class="container">Badminton
                                <input type="checkbox" value="Badminton" name="interest">
                                <span class="checkmark"></span>
                              </label>

                              <label class="container">Basketball
                                <input type="checkbox" value="Basketball" name="interest">
                                <span class="checkmark"></span>
                              </label>
                              
                              <label class="container">Jogging
                                <input type="checkbox" value="Jogging" name="interest">
                                <span class="checkmark"></span>
                              </label>
                              
                              <label class="container">Soccer
                                <input type="checkbox" value="Soccer" name="interest">
                                <span class="checkmark"></span>
                              </label>
                              
                              <label class="container">Surfing
                                <input type="checkbox" value="Surfing" name="interest">
                                <span class="checkmark"></span>
                              </label>

                              <label class="container">Tennis
                                <input type="checkbox" value="Tennis" name="interest">
                                <span class="checkmark"></span>
                              </label>

                        </div>

                        <h2 class="mt-5 mb-5">About Them</h2>
                        <div class="form-group">

                            <label for=age>Minimum Age</label>
                            <input type="text" name="min_age" class="form-control" id="age">

                        </div>
                        
                        <div class="form-group">

                            <label for=age>Maximum Age</label>
                            <input type="text" name="max_age" class="form-control" id="age">

                        </div>
                        

                        <div class="row mt-5">
                        
                            <div class="col">
                            
                                <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
                            
                            </div>
                            
                            <div class="col">
                            
                                <button type="button" class="btn btn-default btn-block">Cancel</button>
                            
                            </div>
                        
                        </div>

                    </form>
                
                </div>
            
            </div>
        
        </div>
    
    </div>
        
    </div>

</div>

</div>