<!DOCTYPE html>
{% load static %}
<html>

    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'nav_bar.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'discovery/discovery.css' %}"/>
    </head>

    <body style="background-color:rgb(169, 214, 231); text-align: center;">

        <div class="topnav">
            <a class="active" href="#home">Home</a>
            <a href="/preference">Preference</a>
            <a href="/discovery">Discovery</a>
            <a href="/profile">Profile</a>
        </div>

        <div id="gradient"></div>

        <div style="margin-top: 35px;" id="card">
            <img src="https://picsum.photos/200"/>
            <h1>{{name}}</h1>
            <p>I like playing sports.</p>
            <p>Interested in {{interests}} ,etc.</p>

            <!-- <span>travel distance (km): 
                <div class="slidecontainer">
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                </div>
            </span> -->
        
            <div style='display: inline-block;'>
                <form action="/like">
                    <button class="ori">❤</button>
                </form>
                <form action="/dislike">
                    <button class="ori">X</button>
                </form>
                
            </div>

        </div>

    </body>
</html>