<!DOCTYPE html>
{%load static%}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'nav_bar.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'stats/stats1.css'%}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'discover/discovery.css' %}"/>
    </head>
    <body style="background-color:rgb(169, 214, 231); text-align: center;">
        <div class="topnav">
            <a href="/discovery">Discovery</a>
            <a href="/chat">Chat</a>
            <a href="/profile">Profile</a>
            <a class="active" href="#stats">Stats</a>
            <a href="/profile_settings">Settings</a>
        </div>
       

    <body>
        <div class="center" id="calendar"></div>
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
        <script src="{% static 'stats/stats.js' %}"></script>
    </body>

</html>
